.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

form {
    background-color: rgba(170,206,222,255);
    padding: 30px 100px;
    border-top-left-radius: 20%; 
    box-shadow: 5px 5px 10px rgb(29, 29, 29);
}

form>label,
input {
    display: block;
    width: 100%;
    font-size: 12pt;
    line-height: 24pt;
}

form>input {
    margin-bottom: 24pt;
    border: 1px solid rgba(0, 0, 0, .1);
    border-radius: 2px
}

form>input:focus {
    border: 1px solid #6bd4b1
}

form>button{
    background-color: white;
    width: 90px;
    transition: .2s all ease-in-out;
    align-self: center;
    border: none;
    padding: 10px;
}

form>button:hover{
    background-color: black;
    color: white;
}